
.vs/RPGHeroes/v17/.suo
.vs/RPGHeroes/FileContentIndex/4b41ae39-3751-407f-a7ff-90c90fadcbef.vsidx
.vs/RPGHeroes/FileContentIndex/b67e030f-8f68-4ccc-88de-86846b9251bc.vsidx
.vs/RPGHeroes/FileContentIndex/dc2eddba-5d69-49a8-b705-268ad4c67dcf.vsidx
*.vsidx
*.vsidx
